assets/Geometry/*.stl filter=lfs diff=lfs merge=lfs -text
assets/Geometry/*.vtp filter=lfs diff=lfs merge=lfs -text
assets/Geometry/*.ply filter=lfs diff=lfs merge=lfs -text
deps/aitviewer-1.13.0-py2.py3-none-any.whl filter=lfs diff=lfs merge=lfs -text
